body {
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

body {
    background-image: url("list-bg.jpg");
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
}

h1 {
    font-family:cursive;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 40px;
    color: black;
}

.box {
    display: flex;
    align-items: center;    
}

.userinput {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 26px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.btn {
    display:flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
}

.display {
    margin-top: 20px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 400px;
    overflow: hidden;
}

ul {
    list-style-type: none;
    font-size: 26px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 100%;
}

li {
    padding: 10px;
    border: 1px solid;
    border-radius: 10px;
    box-sizing: border-box;
    width: auto;
    max-width: calc(100% - 22px);
    word-wrap: break-word;
    width: fit-content;
    position: relative;
    padding-right: 40px;
}

.rmv-btn {
    background: none;
    border: none;
    font-size: 16px;
    cursor: pointer;
    color: black; 
    margin-left: 10px;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}

